body {
    font-size: 35px;
    background-color: darkslategrey;
    text-align: center;
}

.grid {
    display: grid;
    width: 1080px;
    margin: auto;
    justify-content: center;
    grid-template-columns: 1fr 2fr 1fr;
    grid-auto-rows: 100px;
    gap: 20px;
  }
  .grid div {
    background-color: cadetblue;
    padding: 10px 20px;
    border: 2px solid #426e70;
    color: white;
    font-size: 28px;
    border-radius: 10px;
    text-align: center;
  }